* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background: #f5efea; */
}

#__next {
  width: 100%;
  max-width: 475px;
  margin: auto;
  min-height: 100vh;
  max-height: fit-content;
  background: #f5efea;
  position: relative;
}
.modal-open {
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
